<html>
  <head>
    <title>Ben &amp; Janice's Favorite Places</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    <script src="https://rawgit.com/jseppi/Leaflet.MakiMarkers/master/Leaflet.MakiMarkers.js"></script>
    <script src="https://cdn.jsdelivr.net/leaflet.locatecontrol/0.47.0/L.Control.Locate.min.js"></script>
    <script type="text/javascript">
      var GEOJSON_LOCATION = '{{ config['GEOJSON_LOCATION'] }}';
      var MAPBOX_ACCESS_TOKEN = '{{ config['MAPBOX_ACCESS_TOKEN'] }}';
      var ZOOM{% if 'z' in options %} = {{ options['z'] }}{% endif %};
      var IFRAME = {% if 'embed' in options and options['embed'] == '1' %}true{% else %}false{% endif %};
    </script>
    <script src="../static/map.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet.locatecontrol/0.47.0/L.Control.Locate.min.css">
    <link rel="stylesheet" href="../static/map.css" />
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>
